<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to about page </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quidem eos consequuntur illo molestiae ipsa similique! Odio reiciendis nisi accusamus quos officia quo fuga maxime facere vitae cumque, hic eum!</p>
    </div>
    <script>console.log("About page");</script>
    <script>console.log("About page 2");</script>
</body>
</html>