<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to home page </h1>
        <span data-th-text="*{name}"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quidem eos consequuntur illo molestiae ipsa similique! Odio reiciendis nisi accusamus quos officia quo fuga maxime facere vitae cumque, hic eum!</p>
    </div>
    <script>console.log("Home page");</script>
</body>
</html>